.hero {
  height: 100vh;
  background: url("assets/img/sekolah.jpg") center/cover no-repeat;
  background-attachment: fixed; /* Parallax */
  position: relative;
  color: #fff;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 60, 0, 0.55);
  backdrop-filter: brightness(65%);
  z-index: 1;
}

.hero .container {
  position: relative;
  z-index: 2;
}
